@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Roboto:wght@400;500;700&display=swap");

// _variables.scss

$color-nevada: #5b6971;
$color-porcelain: #f1f3f4;
$color-ui-grey-cold-2: #f1f3f4;
$color-ui-grey-cold-7: #3a4850;
$color-ui-grey-cold-8: #232b30;
$color-cod-gray: #0f0f0f;
$color-ui-grey-warm-9: #4d4d4d;
$color-white: #ffffff;
$color-orange-white: #fef8ed;
$color-disabled-button: #b0bdc5;

@mixin respond($breakpoint) {
  @if $breakpoint == "small" {
    @media (max-width: 1024px) {
      @content;
    }
  }
  @if $breakpoint == "medium" {
    @media (min-width: 1280px) {
      @content;
    }
  }
  @if $breakpoint == "large" {
    @media (min-width: 1440px) {
      @content;
    }
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  vertical-align: baseline;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;

  font-family: "Roboto", sans-serif;
  font-style: normal;

}

.hero-image {
  background: url("assets/1024/Hero-image1024.png") no-repeat center center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 380px;
  display: flex;
  align-items: center;
  object-fit: cover;

  @include respond("medium") {
    background-image: url("assets/1440/Hero-image1440.png") no-repeat;
    height: 400px;
    width: 1298px;
    margin: 0 auto;
    object-fit: cover;
  }

  @include respond("large") {
    background-image: url("assets/1440/Hero-image1440.png") no-repeat center
      center;
    height: 400px;
    width: 1298px;
    object-fit: cover;
  }

  .hero-text {
    position: absolute;
    z-index: 1;
    color: $color-white;
    display: flex;
    padding: 74px 48px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    flex: 1 0 0;

    @include respond("medium") {
      padding: 123px 703px 123px 111px;
    }

    @include respond("large") {
      padding: 123px 710px 123px 111px;
    }

    .heading {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 6px;
    }

    .hero-heading {
      font-size: 32px;
      font-weight: 400;
      line-height: 150%; /* 48px */
    }

    .hero-p {
      font-size: 20px;
      font-weight: 400;
      line-height: 150%; /* 30px */
      width: 460px;
    }
  }
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 80px;
  align-self: stretch;

  .description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    .description-h {
      color: $color-cod-gray;
      text-align: center;
      font-size: 24px;
      font-weight: 700;
      line-height: 132%; /* 31.68px */
    }

    .description-p {
      color: $color-nevada;
      text-align: center;
      font-size: 20px;
      font-weight: 400;
      line-height: 30px; /* 150% */
      width: 878px;
    }
  }
}

#pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  align-self: stretch;

  @include respond("large") {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
  }
}

.buttons {
  display: flex;
  align-items: flex-start;
  margin-bottom: 80px;

  @include respond("medium") {
    margin-bottom: 120px;
  }

  button:disabled {
    cursor: auto;
    svg path {
      stroke: $color-disabled-button;
    }
  }

  #next-button,
  #prev-button,
  .pagination-number {
    border: none;
    background-color: inherit;
    display: flex;
    width: 43px;
    height: 42px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color-ui-grey-cold-8;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */

    &:active {
      border: none;
    }

    &:focus {
      border: none;
    }
  }

  .current-page {
    border-radius: 2px;
    background-color: $color-ui-grey-cold-2;
    padding: 9px 16px;
    gap: 10px;
  }
}

.images {
  display: flex;
  padding: 0px 40px;
  align-items: center;
  align-content: center;
  gap: 40px;
  align-self: stretch;
  flex-wrap: wrap;
  margin: 0 auto;

  @include respond("medium") {
    width: 1060px;
    justify-content: space-between;
    row-gap: 60px;
    padding: 0px;
  }

  @include respond("large") {
    display: flex;
    width: 1298px;
    justify-content: center;
    gap: 60px;
  }

  .hidden {
    display: none !important;
  }

  .card {
    display: flex;
    width: 452px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;

    @include respond("medium") {
      flex-shrink: 0;
      width: 500px;
    }
    @include respond("large") {
      width: 500px;
    }

    .avatar {
      transition: all 0.3s ease-in-out;
      height: 520px;
      flex-shrink: 0;
      align-self: stretch;
      object-fit: cover;

      @include respond("medium") {
        flex-shrink: 0;
        width: 500px;
      }

      @include respond("large") {
        display: flex;
        width: 500px;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
      }
    }

    .text {
      display: flex;
      width: 271px;
      padding-left: 20px;
      flex-direction: column;
      align-items: flex-start;
      gap: 6px;
    }
  }
}

.images-heading {
  color: $color-nevada;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px; /* 112.5% */
  width: 139.481px;
}

.images-p {
  color: $color-ui-grey-cold-8;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%; /* 27px */
}

.footer {
  display: flex;
  padding: 33px 40px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  background-color: $color-orange-white;

  @include respond("medium") {
    padding: 33px 0px;
    width: 100%;

    @include respond("large") {
      padding: 33px 114px;
    }
  }
  .footer-container {
    display: flex;
    padding: 38px 0px;
    align-items: center;
    gap: 40px;
    align-self: stretch;

    @include respond("medium") {
      width: 1060px;
        justify-content: space-between;
      margin: 0 auto;
    }

    @include respond("large") {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 107px;
      margin: 38px 72px 38px 56px;
      margin: 0 auto;
    }

    .text {
      color: $color-ui-grey-warm-9;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 12px;

      .footer-h {
        color: $color-cod-gray;
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        line-height: 150%; /* 36px */
      }

      .footer-p {
        color: $color-ui-grey-warm-9;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px; /* 150% */
        width: 450px;
        height: 308px;
      }
    }
  }
}

.image-container {
  border-radius: 8px;
  overflow: hidden;
}

.footer-image {
  width: 516px;
  height: 295px;
  flex-shrink: 0;
  object-position: -0.275px 0;
  object-fit: cover;
}
